@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500&display=swap');

body {
	background:url(wallpaper.jpg);
	}

body, input, .element, .content, .content input {
	font-family: 'Ubuntu', sans-serif;
	font-size:22px;
	color:#222222;
	text-decoration:none;
	text-shadow:0 0 7px rgba(200,200, 200, 0.5), 0 0px 1px rgba(100, 100, 100, 0.7);
	}

a {
	text-decoration:none;
	color:#000;
	}

#main {
	background-color:rgba(200,200, 200, 0);
	margin-top:10%;
	margin-left:auto;
	margin-right:auto;
	width:903px;
	}

.list {
	padding:10px 15px 15px 15px;
	float:left;
	width:195px;
	height:245px;
	background:rgba(200,200, 200, 0);
	font-size:8px;
	color:#000;
	}

#search {
	margin-right:0px;
	width:421px;
	margin-bottom:1px;
	height:300px;
	}

.content input {
	width:300px;
	border:none;
	height:33px;
	background-color:rgba(255, 255, 255, 0);
	padding-left:5px;
	}

.element:hover .element .type-link:hover {
	background-color:#000;
	}

.element {
	height:35px;
	margin-top:5px;
	line-height:35px;
	padding-right:15px;
	background-color:rgba(255, 255, 255, 0.2);
	border-left:10px solid rgba(255, 255, 255, 0.4);
	}

.element .type-field{
	width:392px;
	}

.type-link {
	 width:180px;
	text-align:right;
	}

label{
	float:right;
	}

.element input{
	float:left;
	}

.hover {
	background-color:rgba(255, 255, 255, 0.4);
	border-left:10px solid rgba(255, 255, 255, 0.4);
	}

.type-title {
	background-color:rgba(255, 255, 255, 0.1);
	text-align:right;
	border-left:none;
	width:180px;
	border-bottom:1px solid rgba(255, 255, 255, .2);
	}

#search .type-title {
	width:406px;
	}

#clear {
	clear:both;
	}
