@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500&display=swap');

html, body {
  margin: 0;
  height: 100%;
  font-family: 'Ubuntu', sans-serif;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: url(wall.webp) no-repeat center center fixed;
  background-size: cover;
  z-index: 1;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  overflow: hidden;
  pointer-events: none;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Aligns text to the right */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(39, 43, 53, 0.9); /* Semi-transparent overlay */
  color: #f2f2f2;
  transform: translateY(-100%);
  transition: transform 0.5s, visibility 0.5s;
  visibility: hidden;
  padding: 80px 12px 22px; /* Reduced right padding to move text closer to the button */
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 40px;
  text-align: right;
}

.menu ul li {
  padding: 10px;
}

.menu a {
  color: #f2f2f2;
  text-decoration: none;
  display: block;
}

.menu a:hover {
  color: #E54865;
}

.close-btn {
  position: absolute;
  top: 20px; /* Distance from the top of the menu */
  right: 20px; /* Aligns with the new right padding of the menu */
  background: #f2f2f2;
  color: #272B35;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 24px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16);
  z-index: 3; /* Ensure it is above the menu items */
}

.plus-btn-pos {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 5;
}

.plus-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #f2f2f2;
  position: relative;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16);
}

.plus-btn div {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 3px;
  background: #222222;
  transform: translate(-50%, -50%);
  transition: transform 0.3s;
}

.plus-btn .r1 {
  transform: translate(-50%, -50%) rotate(-90deg);
}

.plus-btn .r2 {
  transform: translate(-50%, -50%) rotate(-180deg);
}

body.menu-open .menu {
  transform: translateY(0);
  visibility: visible;
  pointer-events: all;
}

body.menu-open .plus-btn .r1 {
  transform: translate(-50%, -50%) rotate(-45deg);
}

body.menu-open .plus-btn .r2 {
  transform: translate(-50%, -50%) rotate(-135deg);
}