body {
    background-color: #b9bbb6;
    overflow: hidden;
    padding-left: 20px; /* Added padding to the left */
}

.dir {
    color: #E54865;
    font-weight: bold;
}

.sub {
    color: #525466;
    font-weight: bold;
}

.file {
    font: bold 14px/20px Cutive Mono;
    color: #272B35;
}

.tree, .tree ul {
    font: bold 14px/20px Cutive Mono;
    color: #525466;
    list-style-type: none;
    margin-left: 0;
    padding: 0;
    position: relative;
}

.tree li {
    margin: 0;
    padding: 0 14px;
    position: relative;
}

.tree li::before, .tree li::after {
    content: '';
    position: absolute;
    left: 0;
}

.tree li::before {
    border-top: 1px solid #525466;
    top: 10px;
    width: 10px;
    height: 0;
}

.tree li:after {
    border-left: 1px solid #525466;
    height: 100%;
    width: 0px;
    top: -10px;
}

.tree > li::after {
    top: 10px;
}

.tree > li:last-child::after {
    display: none;
}

.center {
    margin: auto;
    float: left;
}

a {
    text-decoration: none;
    color: inherit;
}

h3 {
    font: inherit;
}

.align {
    width: calc(100% - 20px); /* Adjust width considering left padding */
    position: absolute;
    top: 80px;
    bottom: 0;
    left: 20px; /* Added padding to the left */
    right: 0;
}

.hello {
    float: left;
}

a:hover {
    color: #E54865;
    font-weight: bold;
}
